html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.box {
    border: 2px solid #000092;
    width: 384px;
    max-width: 100%;
    padding: 24px;
    margin: 0 auto;
    font-size: 16px;
}

select {
    background: #dddddd;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

table {
    margin: 0px -8px;
}

td {
    padding: 8px;
    padding-right: 0;
    font-size: 16px;
}

input[type="number"].small {
    border: none;
    border-bottom: 2px solid #dddddd;
    max-width: 64px;
    margin: 0 4px;
    text-align: right;
    font-size: 16px;
}

.actions {
    text-align: right;
    margin: 32px 0 0 0;
}

button {
    background: #dddddd;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
}

.error {
    color: orange;
}
